/* Layout for desktop version */

/* Headline text */
h1 {
  font-family: 'UnifrakturCook', arial, serif;
  font-size: 6em;
  color: #9DFF0C;
  text-shadow: 2px 2px 2px #000;
  padding-left: 20px;
  line-height: 80px;
}
h2 {
  font-family: 'Raleway', arial, serif;
  font-size: 1.6em;
  color: #FFD302;
  margin-top: 40px;
  padding-left: 20px;
  line-height: 30px;
}
h3 {
  font-family: 'Tinos', arial, serif;
  font-weight: bold;
  font-size: 3.5em;
  margin-top: 10px;
  line-height: 60px;
}
h4 {
  font-family: 'Tinos', arial, serif;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 1em;
}

/* Body and code text */
body {
  font-family: 'Tinos', arial, serif;
  font-size: 1em;
  color: #111;
  background: #FFF;
}
pre {
  font-family: 'Inconsolata', courier, serif;
  font-size: 1.8em;
  line-height: 1.1em;
  color: #333;
  padding-top: 40px;
}

/* Links */
a {
  font-weight: normal;
  color: #000;
}
a:hover {
  background: #5DBF0C;
}
.button > a {
  color: #FFD302;
  border-bottom: 0px;
}

/* Page sections */
.header {
  padding-top: 50px;
  background-image: url(../images/forest_blur.jpg);
}
.intro {
  margin-top: 50px;
}
.example {
  margin-top: 30px;
}
.action {
  padding-left: 20px;
  background: #619119;
  margin-top: 30px;
}
.credits {
  margin-top: 10px;
  color: #333;
  font-size: 0.7em;
}

/* Section elements */
img {
  float: right;
}
li {
  line-height: 1.2em;
  font-size: 1em;
}
.goal {
  font-size: 1em;
  font-weight: bold;
}
.buttons {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 30px;
}
.button {
  font-family: 'Raleway', arial, serif;
  font-size: 3em;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}
.label {
  color: #FE0032;
}

/* Effects */
.shadow {
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}
